body{
    text-align: center;
}
#display1{
    display: none;
    float: left;
}
#new{
    float: left;
    background: orange;
}
.time{
    color: orange;
    margin-left: 30px;
}
#main{
    color: orange;
}
.container{
    margin-top: 80px;
    text-align: center;
    height: 100%;
}
.container-1{
    margin-top: 0px;
    text-align: center;
    height: 100%;
}
h1{
    color:orange;
}
p{
    font-size: 2em;
    color: orange;
}
thead{
    background-color: cornflowerblue;
}
input{
    max-width: 114px;
    padding: none;
    margin: none;
    border: none;
    text-align: center;
    color: orange;
}
.container-2{
    margin-top: 50px;
    text-align: center;
    height:100%;
}
.button1{
    float:left;
    background: rgb(87, 85, 85);
    color: orange;
    display: none;
}
.button2{
    float: left;
    background: rgb(87, 85, 85);
    color: orange;
}
.button3{
    float: left;
    background: rgb(87, 85, 85);
    color: orange;
    display: none;
}
#hide2{
    float: left;
    background: rgb(87, 85, 85);
    color: orange;
    display: none;
}
#display{
    float: left;
    background :rgb(87, 85, 85);
    color: orange;
}
#save{
    color: orange;
    background : rgb(87, 85, 85);
    float: right;
}
th{
    text-align: center;
}
td{
    text-align: center;
    padding: none;
    margin: 0;
}
table{
    width: 100%;
    border: 3px solid black;
}
tr:hover{
    background: rgb(190, 186, 186);
}