body{
    background-color: rgb(165, 177, 182);
    margin:0 0;
    padding:0 0;
    cursor:pointer;
}

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    background-color : rgb(165, 177, 182);
}

table{
    border: 1px solid transparent;
    text-align: inherit;
    width: 70%;
    margin: 0 auto;
    padding-bottom:20px;
    text-align: center;
    background-color: rgb(216, 243, 253);
    border-radius: 15px;
}

td {
    width:30px;
    height:70px;
    background: rgb(216, 243, 253);
    transition:0.25s;
    }

td:hover .content{
    background-size:  150% 150%;
    transform:scale(1.2545,1.14);
    transform-origin:center;
    display:block;
    background-color: rgba(255, 166, 0, 0.335);
    }

.content{
    display:none;
    color: rgb(153, 38, 206);
    border-radius: 10px;
}


th{
    text-align: center;
    padding-bottom:30px; 
}

h1{
    text-align: center;
}

.time{
    width:50px;
}

.zoomed{
    height:0px;
    padding: 0 0;
    margin: 0 0px;
    font-size: 30px;
    background-color: aqua;
    border-radius:5px;
    text-align: center;
    box-shadow: -10px 10px 8px rgba(0, 0, 0, 0.746);
  }

.normal-1{
    padding:0px;
}


.flex-container {
    display: flex;
    flex-wrap : wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-container div {
    margin: 10px;
    text-align: center;
    line-height: auto;
    font-size: auto;
}

.grd-btn {
    color:white;
    background-color: rgb(88, 86, 86);
    border-radius: 5px;
    border-color: transparent;
    height:30px;
}

.btn-day{
    font-size: 1em;
    width: 100px;
    background-color: rgb(253, 209, 142);
    border-color:transparent;
    border-radius: 5px;
}
.btn-day-click{
    font-size: 1em;
    width: 100px;
    background-color: rgb(240, 150, 16);
    border-radius: 5px;
    box-shadow: -10px 10px 8px rgba(0, 0, 0, 0.1);
    color: white;
}

.grd1{
    width: 100px;
    color:white;
    background-color: hsl(160, 100%, 75%);;
    border-radius: 5px;
    border-color: transparent;
}

.grd2{
    width: 100px;
    color:white;
    background-color:rgb(255, 241, 51);
    border-radius: 5px;
    border-color: transparent;
}

.grd3{
    width: 100px;
    color:white;
    background-color:rgb(218, 128, 93);
    border-radius: 5px;
    border-color: transparent;
}

.grd4{
    width: 100px;
    color:white;
    background-color: rgb(95, 235, 165);
    border-radius: 5px;
    border-color: transparent;
}

.grd5{
    width: 100px;
    color:white;
    background-color: rgb(252, 116, 206);
    border-radius: 5px;
    border-color: transparent;
}

.grd6{
    width: 100px;
    color:white;
    background-color: rgb(70, 136, 235);
    border-radius: 5px;
    border-color: transparent;
}

.grd7{
    width: 100px;
    color:white;
    background-color:rgb(206, 240, 56);
    border-radius: 5px;
    border-color: transparent;
}

.grd8{
    width: 100px;
    color:white;
    background-color:rgb(250, 208, 69);
    border-radius: 5px;
    border-color: transparent;
}

.grd9{
    width: 100px;
    color:white;
    background-color: rgb(10, 182, 82);
    border-radius: 5px;
    border-color: transparent;
}

.grd10{
    width: 100px;
    color:white;
    background-color: rgb(236, 11, 11);
    border-radius: 5px;
    border-color: transparent;
}

.grd11{
    width: 100px;
    color:white;
    background-color:rrgb(204, 127, 255);
    border-radius: 5px;
    border-color: transparent;
}

.grd12{
    width: 100px;
    color:white;
    background-color: rgb(252, 253, 253);
    border-radius: 5px;
    border-color: transparent;
}

.container div h1{
    font-size: 40px;
    color:black;
}

.container-1{
    background-color: hsl(160, 100%, 75%);
    padding-bottom:50px;
    display: none;
}
.container-2{
    background-color :rgb(255, 241, 51);
    padding-bottom:50px;
    display: none;
}
.container-3{
    background-color: rgb(218, 128, 93);
    padding-bottom:50px;
    display: none;
}
.container-4{
    background-color: rgb(95, 235, 165);
    padding-bottom:50px;
    display: none;
}
.container-5{
    background-color: rgb(252, 116, 206);
    padding-bottom:50px;
    display: none;
}
.container-6{
    background-color: rgb(70, 136, 235);
    padding-bottom:50px;
    display: none;
}
.container-7{
    background-color: rgb(206, 240, 56);
    padding-bottom:50px;
    display: none;
}
.container-8{
    background-color: rgb(250, 208, 69);
    padding-bottom:50px;
    display: none;
}
.container-9{
    background-color: rgb(10, 182, 82);
    padding-bottom:50px;
    display: none;
}
.container-10{
    background-color: rgb(236, 11, 11);
    padding-bottom:50px;
    display: none;
}
.container-11{
    background-color: rgb(204, 127, 255);
    padding-bottom:50px;
    display: none;
}
.container-12{
    background-color: rgb(252, 253, 253);
    padding-bottom:50px;
    display: none;
}